footer &copy; #{ new Date().getFullYear() } WeTube |&nbsp;
  a(href="https://github.com/dition0221", target="_blank")
    img(src="../../img/github_logo_white.png", alt="footerGithubLogo")
    span &nbsp;dition0221
